<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contact.css')}}">
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href='index.html'>Home</a></li>
            <li><a href='index.html#about'>About</a></li>
            <li><a href='contact.html'>Contact</a></li>
        </ul>
        
    </div>
<br><br>
<hr>
<br>

<div class="intro">
    <h1>Phishing</h1>
    <p>
        Phishing is a form of fraud in which an attacker masquerades as a reputable entity or person<br> 
        in email or other communication channels.
    </p>
    
    <p style="font-size:25px">Here, we created a website that detects phishing sites.</p>

   
</div>

<hr>

<br>
<div class="intro2">
    <h3><b>Our team mates who created this website</b></h3>

</div>

<br><br><br>

    <div style="margin-left:100px; margin-top:-70ch;"class="btn">

    <button class="learn-more">    
    <a  href="https://www.linkedin.com/in/chetan-bharambe-8598a5195/">
        <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
        </span>
        <span class="button-text">Chetan Bharambe</span></a>
    </button>

    <button class="learn-more">    
        <a  href="https://www.linkedin.com/in/satyam-shinde-488497240/">
            <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
            </span>
            <span class="button-text">Satyam shinde</span></a>
        </button>

        <button class="learn-more">    
            <a  href="https://www.linkedin.com/in/ruturaj-bendale-2bb19722b/">
                <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                </span>
                <span class="button-text">Ruturaj bendale</span></a>
            </button>

            <button class="learn-more">    
                <a  href="https://www.linkedin.com/in/mahesh-kathale-9905a221a/">
                    <span class="circle" aria-hidden="true">
                        <span class="icon arrow"></span>
                    </span>
                    <span class="button-text">Mahesh Kathale</span></a>
                </button>

                <button class="learn-more">    
                    <a  href="https://sites.google.com/view/ms-sairabanu-s-pansare/home">
                        <span class="circle" aria-hidden="true">
                            <span class="icon arrow"></span>
                        </span>
                        <span class="button-text">Prof.SairaBanu Pansare</span></a>
                    </button>
    </div>
 
</body>
</html>